<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Spring Security Example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="form-signin-heading">로그인이 필요한 페이지입니다.</h2>
    <p>(Login with OAuth 2.0)</p>
    <form class="form-signin" method="post" th:action="@{/login}" id="loginForm" name="loginForm" >
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p id="valid" style="color: red; font-size:12px;"><a th:text="${error_description}"></a></p>
            <div th:if="${exists_user}" class="alert alert-danger" role="alert">
                <a class="btn btn-light btn-block bg-white" style="text-transform: none;" onclick="forceLogin();" >
                    현재 접속한 로그아웃 후 로그인 진행
                </a>
            </div>
        </div>
        
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>

        <h2 class="form-signin-heading">Sign In</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" th:value="${username}" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" th:value="${password}" placeholder="Password" required>
        </p>
        <p style="align-content: center;">
            <label for="remember" ><input type="checkbox" id="remember" name="remember" class="form-control"> 자동로그인</label>
            <!-- th:value="${rememberme}" -->
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <a class="btn btn-light btn-block bg-white" href="/oauth2/authorization/google-idp" role="link" style="text-transform: none;">
            <img width="20" style="margin-right: 5px;" alt="Sign in with Google" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Sign in with Google
        </a>
    </form>
</div>
</body>
<script th:inline="javascript">
    $(function(){
        const isChecked = /*[[${remember}]]*/
        console.log(isChecked);
        if(isChecked){
            $("#remember").prop("checked", true);
        }else{
            $("#remember").prop("checked", false);
        }
    })
</script>

<script type="text/javascript">
    function forceLogin(){
        console.log($("form[name=loginForm]").serialize());
		$.ajax({
			type : 'post',
			url : '/login/force',
			data : $("form[name=loginForm]").serialize(),
			dataType : 'json',
			error: function(xhr, status, error){
				alert(error);
			},
			success : function(json){
				$("form[name=loginForm]").submit();
			}
		});
    }
</script>
</html>