<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sign Up - Morpheus Identity Provider</title>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>User - Sign Up</h1>
        </div>
        <form th:action="@{/signup}" method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">

            <div class="form-group row">
                <label class="col-4 col-form-label">FamilyName: </label>
                <div class="col-8">
                    <input type="text" id="familyName" name="familyName" class="form-control" placeholder="familyName" required autofocus>
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">GivenName: </label>
                <div class="col-8">
                    <input type="text" id="givenName" name="givenName" class="form-control" placeholder="givenName" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Username(ID): </label>
                <div class="col-8">
                    <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" id="password" name="password" class="form-control" placeholder="password" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">PhoneNumber: </label>
                <div class="col-8">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="phoneNumber" required autofocus>
                </div>
                <textarea readonly>
                    leehh312은 이 번호를 계정 보안 용도로만 사용합니다. 다른 사용자에게는 전화번호가 표시되지 않습니다. 나중에 다른 용도로도 이 번호를 사용할지 결정할 수 있습니다.
                </textarea>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Email: </label>
                <div class="col-8">
                    <input type="email" id="email" name="email" class="form-control" placeholder="email" required>
                </div>
                <textarea readonly>
                    계정을 안전하게 보호하기 위해 사용합니다.
                </textarea>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Birthdate: </label>
                <div class="col-8">
                    <input type="text" id="birthdate" name="birthdate" class="form-control" placeholder="birthdate" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Gender: </label>
                <div class="col-8">
                    <input type="text" id="gender" name="gender" class="form-control" placeholder="gender" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-4 col-form-label">Address: </label>
                <div class="col-8">
                    <input type="text" id="address" name="address" class="form-control" placeholder="address" required>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>